body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
}

.main-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rampa-container, .escadas-container, .maquina-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 320px;
    height: 320px;
    border-radius: 20px;
}

p {
    line-height: 35px;
    font-size: large;
    text-align: justify;
}

strong {
    font-size: larger;
}

@media (max-width: 768px) {
    .rampa-container, .escadas-container, .maquina-container {
        flex-direction: column;
    }

    img {
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .main-container {
        padding: 15px;
    }

    p {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    p {
        font-size: small;
    }
}
