.carrossel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 4em;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 10px; 
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-50%) scale(1.1);
}

.prev {
    left: 12em;
}

.next {
    right: 12em;
}
