body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: black;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
}

h1 {
    color: #333;
}

p {
    text-align: justify;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    p {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    p {
        font-size: small;
    }
}
